
    .sidebar-logo {
        width: 150px;  /* ajuste o valor conforme necessário */
        height: auto;  /* mantém a proporção */
    }

    .sidebar-logo {
        width: 150px;  /* Ajuste conforme necessário */
        height: auto;
    }

    .nav-item {
        margin-top: 20px; /* Espaçamento acima do ícone do usuário */
    }

    .sidebar-text {
        display: block; /* Garante que o texto fique em uma linha separada */
        margin-top: 5px; /* Espaçamento entre o ícone e o texto */
    }

    .custom-navbar {
        background-color: #ff7a27 !important; /* Cor de fundo */
        padding: 0.5rem 1rem; /* Ajuste o padding conforme necessário */
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }
    
    body {
        background-color: #f5f5f5;
    }
    
    .dashboard {
        width: 80%;
        margin: 20px auto;
    }
    
    h1 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    
    h1 span {
        color: #28a745;
    }
    
    .ranking-header {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .ranking-header h2 {
        font-size: 1.5rem;
        font-weight: normal;
    }
    
    .ranking-header p {
        font-size: 1.2rem;
    }
    
    .filters {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    .filters select {
        margin: 0 10px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    .ranking {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    
    .ranking-box {
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    
    .ranking-box h3 {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }
    
    .ranking-box ul {
        list-style: none;
    }
    
    .ranking-box li {
        margin-bottom: 15px;
        font-size: 1rem;
    }
    
    .ranking-box strong {
        font-size: 1.2rem;
    }
    
    .ranking-box span {
        color: #28a745;
        font-weight: bold;
        margin-left: 10px;
    }


    